*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.1em;
  overflow-x: hidden; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  background-color: #f39c12;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0); }

/******************* NAVBAR ***********************/
#navBar {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  height: 50px;
  display: none;
  overflow-y: hidden; }
  #navBar ul li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px; }
    #navBar ul li img {
      height: 30px; }
    #navBar ul li a {
      position: relative;
      text-decoration: none;
      color: #f39c12;
      cursor: pointer; }
    #navBar ul li .bAcross:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: 0;
      background-color: #f39c12;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.25s ease-in-out 0s; }
    #navBar ul li a:hover:before {
      visibility: visible;
      transform: scaleX(1); }

#menuIcon {
  height: 30px;
  width: 30px;
  position: fixed;
  right: 2%;
  top: 1.5%;
  background-color: #f39c12;
  opacity: 0.7;
  z-index: 10000;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s linear;
  border-radius: 3px; }
  #menuIcon i {
    position: relative;
    font-size: 1.8em; }

#menuIcon:hover {
  opacity: 1; }

/****************** MOBILE NAV*/
.mobile-nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #FFFCF9;
  text-align: center;
  z-index: 9999;
  display: none;
  box-shadow: 15px 0 15px  #8A8A8A; }

.mobile-nav ul {
  text-align: center;
  width: inherit; }

.mobile-nav li {
  display: block;
  width: 94%;
  padding: 15px;
  background-color: #f39c12;
  margin: auto;
  margin-top: 7px;
  border-radius: 5px;
  cursor: pointer; }

.mobile-nav a {
  text-decoration: none;
  color: #000; }

.mobile-nav li:hover {
  background-color: #f7be63; }

#mobile-nav-upper {
  background-color: #FFFCF9;
  font-size: 130%;
  text-align: left;
  pointer-events: none; }

#logoNavbar {
  margin-left: 2px;
  margin-right: 2px;
  height: 30px; }

#mobile-nav-icon {
  background-color: #f39c12;
  opacity: 0.8;
  width: 30px;
  height: 25px;
  position: fixed;
  right: 7%;
  top: 3%;
  z-index: 10000;
  text-align: center;
  display: none;
  border-radius: 5px;
  overflow: hidden; }
  #mobile-nav-icon i {
    overflow: hidden;
    font-size: 1.5em;
    font-weight: lighter; }

/******************** HEADER **********************/
header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: #fff; }
  header #sketch {
    position: absolute;
    height: 100vh;
    z-index: 5; }
  header .headerInner {
    z-index: 10;
    height: 100vh;
    position: relative;
    overflow-y: hidden; }
    header .headerInner .logoWrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 500px;
      height: 500px;
      color: #fff; }
      header .headerInner .logoWrapper #logo {
        height: inherit; }
  header .arrowWrapper {
    z-index: 10;
    position: absolute;
    bottom: 2%;
    width: 100%;
    animation: arrow 2s ease infinite; }
    header .arrowWrapper i {
      font-size: 3em;
      cursor: pointer; }

@keyframes arrow {
  0% {
    bottom: 2%; }
  50% {
    bottom: 0.5%; }
  100% {
    bottom: 2%; } }
@keyframes logoWrapper {
  from {
    top: 0;
    left: 0%;
    height: 500px;
    width: 500px; }
  to {
    top: -93.9%;
    left: -1.35%;
    height: 30px;
    width: 30px; } }
/******************** WHO **********************/
.who {
  height: 100vh;
  width: 200vw;
  position: relative;
  text-align: center;
  color: #fff; }
  .who .whoInner {
    margin-top: 100px;
    height: 80vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../css/images/profilePic.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden; }
    .who .whoInner .whoWrapper {
      position: absolute;
      top: 0%;
      bottom: 0;
      right: 0;
      left: -65%;
      margin: auto;
      height: 500px;
      width: 20vw;
      word-spacing: 2px;
      overflow-y: hidden; }
      .who .whoInner .whoWrapper h1 {
        font-size: 3em;
        text-align: left;
        overflow-y: hidden;
        overflow-x: hidden;
        font-weight: 300; }
      .who .whoInner .whoWrapper h2 {
        margin-top: -10px; }
    .who .whoInner .whoArrowRightWrap {
      position: absolute;
      width: 210px;
      right: 2%;
      height: 100vh;
      font-size: 1.8em;
      opacity: 0.5; }
      .who .whoInner .whoArrowRightWrap div {
        position: relative;
        height: 30px;
        top: 30%;
        overflow-y: hidden; }
        .who .whoInner .whoArrowRightWrap div span {
          position: relative;
          float: left;
          margin-left: 21px;
          width: 140px;
          font-weight: lighter;
          font-size: 18px; }
        .who .whoInner .whoArrowRightWrap div span:before {
          content: "";
          position: absolute;
          width: 86%;
          height: 2px;
          bottom: 0;
          left: 7%;
          background-color: #f39c12;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out 0s; }
        .who .whoInner .whoArrowRightWrap div span:hover:before {
          visibility: visible;
          transform: scaleX(1); }
        .who .whoInner .whoArrowRightWrap div span:hover + i {
          animation: arrowRight 0.3s ease forwards; }
        .who .whoInner .whoArrowRightWrap div i {
          position: absolute;
          right: 10%;
          top: -23%; }
    .who .whoInner .whoArrowDownWrap {
      position: absolute;
      height: 100px;
      bottom: 4%;
      left: 9%;
      width: 6%;
      opacity: 0.5; }
      .who .whoInner .whoArrowDownWrap p {
        margin: auto;
        width: 70px;
        position: relative;
        font-size: 18px;
        font-weight: lighter; }
      .who .whoInner .whoArrowDownWrap p:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        background-color: #f39c12;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s; }
      .who .whoInner .whoArrowDownWrap p:hover:before {
        visibility: visible;
        transform: scaleX(1); }
      .who .whoInner .whoArrowDownWrap i {
        position: absolute;
        bottom: 20%;
        left: 40%;
        font-size: 1.8em;
        animation: arrowDown 2s ease infinite; }
    .who .whoInner .whoArrowRightWrap div span, .who .whoInner .whoArrowDownWrap div p {
      cursor: pointer; }
@keyframes arrowDown {
  0% {
    bottom: 20%; }
  50% {
    bottom: 10%; }
  100% {
    bottom: 20%; } }
@keyframes arrowRight {
  0% {
    color: #fff; }
  100% {
    color: #f39c12; } }
/******************** ABOUT **********************/
#aboutMe {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.95;
  z-index: 99999;
  top: 0;
  visibility: hidden; }
  #aboutMe .icon-container {
    font-size: 2em;
    position: absolute;
    right: 80px;
    top: 15px;
    opacity: 1; }
  #aboutMe .icon-container i {
    color: #FFFFFF;
    cursor: pointer; }

#aboutMe.animated {
  visibility: visible; }

/******************** WORK **********************/
.myWork {
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 2px; }
  .myWork .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .myWork .grid-container a {
      text-decoration: none;
      color: #fff;
      overflow: hidden; }
    .myWork .grid-container .black-bkg {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.9; }
    .myWork .grid-container .black-bkg:hover {
      opacity: 0; }
    .myWork .grid-container .item {
      transition: 1s;
      height: 100%;
      position: relative;
      overflow: hidden; }
      .myWork .grid-container .item .itemInInner {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        opacity: 1;
        z-index: 3;
        text-align: left;
        overflow: hidden;
        margin-bottom: -5em;
        background: transparent; }
        .myWork .grid-container .item .itemInInner h3 {
          padding-left: 50px;
          position: relative;
          margin: 0;
          font-size: 1.8em;
          overflow: hidden;
          padding-bottom: 10px;
          margin-top: 25px; }
        .myWork .grid-container .item .itemInInner h3:before {
          content: "";
          position: absolute;
          height: 5px;
          width: 10%;
          bottom: 0%;
          background-color: #f39c12; }
        .myWork .grid-container .item .itemInInner p {
          padding-left: 50px;
          margin-top: 5px;
          opacity: 0; }
      .myWork .grid-container .item .itemNumber {
        position: absolute;
        border: 4px solid #f39c12;
        height: 80px;
        width: 80px;
        border-radius: 160px;
        font-size: 2.9em;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transform: scale(1);
        z-index: 3;
        opacity: 1;
        overflow: hidden;
        filter: grayscale(0%) !important; }
    .myWork .grid-container .item1, .myWork .grid-container .item2, .myWork .grid-container .item3, .myWork .grid-container .item4 {
      visibility: hidden; }
    .myWork .grid-container .item1.animated, .myWork .grid-container .item2.animated, .myWork .grid-container .item3.animated, .myWork .grid-container .item4.animated {
      visibility: visible; }
    .myWork .grid-container .item:hover .itemInInner {
      margin-bottom: 0em;
      background: rgba(17, 17, 18, 0.8); }
    .myWork .grid-container .item:hover .itemInInner p {
      opacity: 1; }
    .myWork .grid-container .item:hover .itemNumber {
      transform: scale(1.3);
      opacity: 0; }
    .myWork .grid-container .item .itemInInner, .myWork .grid-container .item p, .myWork .grid-container .item .itemNumber, .myWork .grid-container .black-bkg, .myWork .grid-container .bkg {
      transition: all 0.5s ease-in; }
    .myWork .grid-container .bkg {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(100%); }
    .myWork .grid-container .item:hover > .bkg {
      filter: grayscale(0%); }
    .myWork .grid-container .bkg1 {
      background-image: url("../css/images/work/LA/laHome.PNG"); }
    .myWork .grid-container .bkg2 {
      background-image: url("../css/images/work/travesia.PNG"); }
    .myWork .grid-container .bkg3 {
      background-image: url("../css/images/work/coin-watch.PNG"); }
    .myWork .grid-container .bkg4 {
      background-image: url("../css/images/work/three-balloons.PNG"); }

/*# sourceMappingURL=style.css.map */
